/*
Written by Konnorb
*/

body{
background-color: #E3F6CE;
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.button{
background-color: #E3F6CE;
}

.first-ul{
background-color: #CEF6CE;
width: 200px;
border: 2px solid #86B404;
border-radius: 5px;
}

.first-ul:hover{
border: 2px solid #688A08;
}

/*Trying to add the ribbon*/
.box{
  /*margin: 50px auto;*/
  background-color: #CEF6CE;
  width: 200px;
  border: 2px solid #86B404;
  border-radius: 5px;
  position: relative;
  z-index: 90;
}


  
 
.ribbon-wrapper {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
}
.ribbon {
    font: bold 15px sans-serif;
    color: #333;
    text-align: center;
    -webkit-transform: rotate(45deg);
    -moz-transform:    rotate(45deg);
    -ms-transform:     rotate(45deg);
    -o-transform:      rotate(45deg);
    position: relative;
    padding: 7px 0;
    top: 15px;
    right: 0px;
    width: 120px;
    background-color: #F5A9A9;
    color: #fff;
}

.r-violet{
background-color: #BCA9F5;
}